
@viewport, @-ms-viewport {
  /* Make the viewport work in IE10, which ignores the meta-tag */
  width: extend-to-zoom;
  zoom: 1.0;
}

body {
  position: relative;
  font-family: 'Droid Sans', 'Arial', sans-serif;
  color: #999;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  min-width: 500px;
  border: 0px;
  height: 0px;
  border-top: 1px solid #ccc;
  background: #ccc;
}
h1, h2, h3 { padding: 0px; margin: 0px; }
h1 {
  font-weight: bold;
  font-size: 30pt;
  color: #3bf;
}
h2 {
  font-weight: bold;
  font-size: 28pt;
  color: #19d;
}
h3 {
  font-size: 26pt;
  color: #777;
}
p {
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  font-size: 16pt;
}
a { text-decoration: none; }
a, a:hover { color: #19d; }


#header img {
  margin: 50px; 
  width: 250px;
  height: 250px;
  border: 15px solid #aaa;
}

#contact ul {
  margin: 0px;
  padding: 10px 0px 0px 0px;
  white-space: nowrap;
}
#contact ul li {
  padding: 0px 10px;
  display: inline-block;
}
#contact ul li img {
  height: 65px;
  width: 65px;

  opacity: 0.5;
  filter: alpha(opacity=50); /* IE8 and below */
}
#contact ul li img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* IE8 and below */
}

.content {
  width: 80%;
  min-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.spacer {
  height: 100px;
}


/***/
/*
/*  Bootstrap specific overrides
/*
/***/

.navbar-default {
  background: none;
  border: none;
}
.navbar-nav {
  float: none;
  margin: 0 auto;
  width: 450px;
}

.navbar-default .navbar-nav > li > a {
  margin: 0 auto;
  width: 150px;

  text-align: center;
  font-size: 22pt;
  color: #bbb;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #777;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: none;
  color: #777;
  border-bottom: 1px solid #ccc;
}